<launch>

<arg name="device_id" default= "-1"/>
<arg name="vocabulary_file_path" default = "/home/lwcworld/git/ORB_SLAM2/Vocabulary/ORBvoc.txt"/>
<arg name="orb_slam2_settings_file_path" default = "$(find orb_slam_2_ros)/config/euroc/euroc.yaml"/>
<arg name="camera_calibration_file_path" default = "$(find orb_slam_2_ros)/config/euroc/camchain.yaml"/>


<!-- camera access -->
<node name="camera" pkg="cv_camera" type="cv_camera_node" output="screen">
	<param name="device_id" value="$(arg device_id)" />
</node> 


<!-- ORB SLAM2 stereo. -->
<node pkg="orb_slam_2_ros" name="orb_slam_2_ros_node" type="orb_slam_2_ros_node" output="screen">
	<param name="interface_type" value="mono" />
	<param name="vocabulary_file_path" value="$(arg vocabulary_file_path)"/>
	<param name="settings_file_path" value="$(arg orb_slam2_settings_file_path)"/>
	<param name="visualization" type="bool" value="true"/>
</node>
</launch>
